services:
  httpd_service:
    image: 'httpd:latest'
    ports: 
      - '8082:80'
    networks:
      - 'n1'  
    volumes:
      - './storage/html:/usr/local/apache2/htdocs' 

  tomcat_service:
    image: 'tomcat:9'
    ports:
      - '8083:8080'
    networks:
      - 'n2'  
    volumes:
      - './storage/tomcat:/usr/local/tomcat/webapps'
    
networks:
  n1:
    driver: 'bridge'

  n2:
    driver: 'bridge'


